asgiref==3.11.0
charset-normalizer==3.4.5
click==8.3.1
colorama==0.4.6
cssbeautifier==1.15.4
defusedxml==0.7.1
Django==6.0.1
django-cleanup==9.0.0
django-environ==0.12.0
django-htmx==1.27.0
django-svg-image-form-field==1.0.1
djlint==1.36.4
EditorConfig==0.17.1
jsbeautifier==1.15.4
json5==0.13.0
pathspec==1.0.4
pillow==12.1.0
PyYAML==6.0.3
regex==2026.1.15
reportlab==4.4.10
six==1.17.0
sqlparse==0.5.5
tqdm==4.67.3
tzdata==2025.3
